  body{
  	background-color:grey; 
  }


   .page{
   	   width: 780px;
       margin: auto;
       font-family: 'source sans pro',calibri,tahoma,sans-serif;
       font-size: 16px;
       border: 5px solid #3388CC;
       border-radius: 10px;
       box-shadow: 2px 4px 3px black;
       padding: 20px;
       background-color: white;
}

.infophoto{
	   height: 250px;
}

.info{
	float: left;
}

.photo{
	float: right;
}

.section{
	margin-bottom: 70px;
	text-align: justify;
}

.section:hover{
	color: #009900;
}

.sec-gauche{
	float: left;
	font-weight: bold;
	font-size-20px;
}

.sec-droite{
	margin-left: 150px;
	margin-top: 37px;

}

h2{
	font-size: 28px;
	color: #3388BB;
	border-bottom: 3px solid #3388BB;
}

.duree{
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
}

.titre{	
    font-weight: bold;
font-size: 20px;
}

#forma-gauche p{
	margin-bottom: 35px;

}

strong{
	font-size: 23px;
}













